@import "tailwindcss";

@font-face {
    font-family: 'CustomFont';
    src: url('./assets/Fonts/custom1.woff2') format('woff2'),
         url('./assets/Fonts/custom2.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* Smooth Scrolling */
html {
  scroll-behavior: smooth;
}

body {
    font-family: 'CustomFont', sans-serif;
    background-color: rgb(0, 0, 0);
    color: white;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Enhanced Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 10px; /* Increased width for better visibility */
}

::-webkit-scrollbar-track {
    background: #222c83a9; /* Removed opacity for a solid background */
}

::-webkit-scrollbar-thumb {
  background: #585e64; /* Retained for consistency */
  border-radius: 4px; /* Increased border radius for a smoother look */
}

::-webkit-scrollbar-thumb:hover {
  background: #94acc7;
  cursor: pointer; /* Retained for consistency */
}